.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.title-goal {
  display: flex;
  align-items: center;
}

.logo-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid hsl(214.49deg 93.86% 55.29%);
  padding: 0.1px;
  background-color: #eee;
}

.welcome-user {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.welcome-user-name {
  margin-top: -5px;
}
