.container-goals-list {
  padding: 15px;
}



.container-no-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  color: #555;
}

.title-no-goal {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}



.button-new-goal {
  position: fixed;
  bottom: 4rem;
  right: 0.5rem;
}

.subtitle-goal {
  font-size: 15px;
  margin-top: 5px;
  color: #333;
  font-weight: 500;
}

