<app-header [useDefaultHeader]="true" [useStyleDefault]="false"></app-header>

<section class="container-goals-list">

  <h6>Metas</h6>

  @if(goalsNoRegistered) {
  <div class="container-no-goal">
    <ng-lottie [height]="'200px'" [options]="{path: '/animations/no_goal.json'}" />

    <h4 class="title-no-goal mt-1">Nenhuma Meta Cadastrada</h4>
  </div>
  }

  @for (goal of goals$ | async; track goal.id) {
    <app-card-goal [goal]="goal" (navigateTo)="goToGoalDetail(goal.id)"></app-card-goal>
  }

  <button (click)="goToGoalCreate()" class="button-new-goal" mat-fab aria-label="Example icon button with a heart icon">
    <mat-icon>add</mat-icon>
  </button>
</section>
