.container-register {
  padding: 0 15px;
  height: 100%;
  background-color: #92aff6;
}

.form-register {
  background: #fff;
    padding: 15px;
    border-radius: 15px;
}

.title-create{
  margin-bottom: 20px;
  display: flex;
  font-weight: 900;
  letter-spacing: inherit;
  font-size: 18px;
}

.container-action-login{
  margin-top: 15px;
  text-align: center;
}

.link-create-account {
  color: #005cbb;
  font-weight: bold;
  margin-left: 7px;
  letter-spacing: 1px;
  text-decoration: none;
}
