.container-bottom-navigation {
  /* display: flex;
  position: fixed;
  bottom: -1px;
  width: 101%;
  background: #92aff6;
  align-items: center;
  justify-content: space-around;
  z-index: 12;
  color: #fff;
  letter-spacing: 2px; */


  display: flex;
  position: fixed;
  bottom: 12px;
  background: #92aff6;
  align-items: center;
  justify-content: space-around;
  z-index: 12;
  color: #fff;
  letter-spacing: 2px;
  left: 10px;
  right: 10px;
  border-radius: 15px;
  box-shadow: 0px 1px 6px 0px #888;
}

.block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  flex: 1;
}


.text-item {
  margin-top: -3px;
}

.active  {
  font-weight: 400;
  font-size: 18px;
  background: #3333331c;
  border-radius: 15px;
}
