<section class="container-create-goal">
  <app-header>
    <span rightSide (click)="goToGoalList()" class="title-goal">
      <mat-icon class="example-tab-icon">arrow_back</mat-icon>
      Nova Meta
    </span>
  </app-header>

  @if(created) {
    <app-alert-status-message [success]="true" [mileSecondsBeforeRedirect]="4000" (redirectTo)="goToGoalList()" [message]="'Meta criada com sucesso'"></app-alert-status-message>
  }
  @else {
    <form class="form-create-goal" [formGroup]="formGoal">
      <h6 class="text-init-form">Sonhe. Planeje. Alcance. ✨</h6>

      <mat-form-field class="w-100">
        <input matInput formControlName="title" placeholder="Email">
      </mat-form-field>

      <mat-form-field class="w-100">
        <textarea matInput formControlName="description" placeholder="Descrição"></textarea>
      </mat-form-field>

      <mat-form-field class="w-100" >
        <input matInput [matDatepicker]="picker" placeholder="Data para Conclusão" formControlName="completionDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="step-goal">
        <mat-form-field class="w-100 mr-2">
          <input matInput [(ngModel)]="step" placeholder="Etapas" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <button (click)="addStep()" mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      @for(item of stepList; track item) {
        <li class="step-list-item">
          <mat-icon class="mr-1">check_box_outline_blank</mat-icon>
          {{item}}
        </li>
      }

      <button [disabled]="formGoal.invalid" (click)="createGoal()" class="w-100 mt-1" mat-flat-button>Criar Meta</button>
    </form>
  }


</section>
